@import "./node_modules/bootstrap/scss/bootstrap.scss";

body {
  // background-color: lightgrey !important;
}
.popuptext {
  background-color: aqua;
}

#cart-content-wrapper {
  z-index: 100;
  width: 700%;
  // background: url(../img/loader.gif);
  display: none;
}
