<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Login Demo</title>
  </head>
  <body>
    {%  include 'models/header.twig' %}

    {% block content %}{% endblock %}

    {%  include 'models/footer.twig' %}
  </body>
</html>
