<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Bombayworks Shopping Cart</title>
    <script src="/shoppingCart/dist/main.js"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
      <a class="navbar-brand" href="/shoppingcart">Login Demo</a>
      <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">

        {% if (not isLoggedIn) %}
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/shoppingcart/page/login.php">Login
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/shoppingcart/page/register.php">Register</a>
            </li>
          </ul>
        {% endif %}

        {% if (isLoggedIn) %}
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/shoppingcart/page/logout.php">Log out</a>
            </li>
            <li class="nav-item">
              <span class="nav-link">
                {{  "Welcome,"  }}
                {{ userDetails.name }}</span>
            </li>

            <li class="nav-item position-relative">
              <a class="nav-link" href="/shoppingcart/api/cart.php" id="cart-details">
                Cart
                <span class="badge badge-dark" id="cart-count">{{ cartCount }}</span>
              </a>
              <div class="position-absolute bg-info" id="cart-content-wrapper"></div>
            </li>
          </ul>
        {% endif %}
      </div>
    </head>
  </head>
</html></nav></head><body><div class="container">
